
[versions]
# Don't use a released version of uwosh.oie.studyabroadstudent
collective.z3cform.datagridfield = 1.5.3

# setuptools =
# zc.buildout =
# #setuptools = 24.3.0
# #zc.buildout = 2.5.2
# zc.recipe.egg = 2.0.3
# flake8 = 3.0.4
# flake8-isort = 2.0.1
# i18ndude = 4.0.1
# robotframework = 3.0
# robotframework-ride = 1.5.2.1
robotframework-ride = 1.7.4.2
# robotframework-seleniumlibrary = 4.5.0
# robotsuite = 1.7.0
# selenium = 3.14.1
# plone.testing = 4.3.3
# coverage = 4.2
# currencies = 2014.7.13
# pycodestyle = 2.0.0
# PyYAML = 3.12
# argh = 0.26.2
# createcoverage = 1.5
# flake8-blind-except = 0.1.1
# flake8-coding = 1.3.0
# flake8-commas = 1.0.0
# flake8-debugger = 3.1.0
# flake8-deprecated = 1.3
# flake8-pep3101 = 1.2
# flake8-plone-api = 1.4
# flake8-plone-hasattr = 0.2.post0
# flake8-print = 3.1.0
# flake8-quotes = 0.13.0
# flake8-string-format = 0.2.3
# flake8-todo = 0.7
# mccabe = 0.5.3
# pathtools = 0.1.2
# pkginfo = 1.4.1
# plone.recipe.codeanalysis = 2.3
# pyflakes = 1.2.3
# requests-toolbelt = 0.8.0
# tqdm = 4.19.5
# twine = 1.9.1
# watchdog = 0.8.3
# zest.releaser = 6.13.4

# # Required by:
# # plone.recipe.codeanalysis==2.3
# check-manifest = 0.36

# # Required by:
# # zest.releaser==6.13.4
# colorama = 0.3.9

# # Required by:
# # flake8==3.0.4
# configparser = 3.5.0

# # Required by:
# # flake8==3.0.4
# enum34 = 1.1.6

# # Required by:
# # flake8-isort==2.0.1
# flake8-polyfill = 1.0.2

# # Required by:
# # isort==4.3.4
# futures = 3.2.0

# # Required by:
# # flake8-isort==2.0.1
# isort = 4.3.4

# # Required by:
# # flake8-isort==2.0.1
# testfixtures = 5.4.0

# # Required by:
# # uwosh.oie.studyabroadstudent==1.0a1
# z3c.jbot = 0.7.2

# # Required by:
# # uwosh.oie.studyabroadstudent==1.0a1
# collective.dexteritytextindexer = 2.2.1

# # Required by:
# # uwosh.oie.studyabroadstudent==1.0a1
# currencies = 2014.7.13

# plone.app.jquery = 1.11.2


# pep8 = 1.7.1
# pkginfo = 1.4.2
# plone.app.jquery = 1.11.2
# plone.recipe.codeanalysis = 2.3
# pyflakes = 1.0.0
# requests-toolbelt = 0.8.0

# # Required by:
# # plone.recipe.codeanalysis==2.3
# check-manifest = 0.37

# # Required by:
# # zest.releaser==6.9
# colorama = 0.3.9

# # Required by:
# # uwosh.oie.studyabroadstudent==1.0a1
collective.impersonate = 1.3

# # Required by Plone 5.1.4
# chardet = 3.0.4
# idna = 2.6

# webcouturier.dropdownmenu = 3.0.2
# Products.ContentWellPortlets = 4.3.0
# collective.easyform = 2.0.1
# uwosh.oie.studyabroadtheme = 1.0.5
# # Required by:
# # uwosh.oie.studyabroadtheme
plone.app.themingplugins = 1.1
plone.app.controlpanel = 4.0.1
# # Required by:
# # Plone==5.1.4
Products.ContentWellPortlets = 4.3.0
collective.easyform = 3.0.4
# # collective.impersonate==1.0.1
# # createcoverage==1.5
# # flake8-blind-except==0.1.1
# # mr.developer==1.38
# # plone.app.debugtoolbar==1.1.4
# # plone.app.robotframework==1.3.0
# # plone.i18n==3.0.7
# # plone.recipe.codeanalysis==2.3
# # plone.recipe.zope2instance==4.4.1
# # uwosh.oie.studyabroadstudent==1.0a1
# # webcouturier.dropdownmenu==3.0.2
# # z3c.jbot==0.7.2
# # zc.recipe.egg==2.0.3
# # zest.releaser==6.13.4
# # zope.component==4.4.1
# # zope.configuration==3.7.4
# # zope.exceptions==3.6.2
# # zope.i18n==4.2.0
# # zope.i18nmessageid==4.1.0
# # zope.interface==4.4.3
# # zope.schema==4.5.0
# # zope.tal==3.5.2
# # zope.testing==3.9.7
# # zope.testrunner==4.4.4
# setuptools = 41.0.1

# # Required by:
# # mr.developer==1.38
# # plone.recipe.codeanalysis==2.3
# plone.recipe.zope2instance = 6.8.0
# # z3c.autoinclude==0.3.7
# zc.buildout = 2.13.0

# # Required by:
# plone.app.jquerytools = 1.9.5

plone.app.changeownership = 1.0
# Products.CMFPlone = 5.2.1
# Pillow = 7.2.0
# collective.recipe.omelette = 1.0.0
# setuptools = 41.0.1
# zc.buildout = 2.13.2

[buildout]
extends =  http://dist.plone.org/release/5.2.0/versions.cfg

